{{ define "main" }}
{{ $style := resources.Get "css/custom.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
<main aria-role="main">
  <header class="home-page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{ . }}</span>
    {{ end }}
  </header>
  <div class="home-page-content">
    {{ partial "tagline.html" . }}
    <div class="body-container">
      {{ partial "body.html" . }}
    </div>
  </div>
  <div class="store-items">
    <h2>Available Books</h2>
    <p>Copies are now only available from my online store.</p>
    
    <div class="store-item">
      <div class="store-item-content">
        <div class="store-item-info">
          <h3>About Faces™ - Hard Copy (autographed)</h3>
          <p class="price">$31.00</p>
        </div>
        <div class="store-item-action">
          <a href="https://www.lauriejjames.com/store/p/about-faces?variant=hardcover" class="btn-store">Purchase</a>
        </div>
      </div>
    </div>
    
    <div class="store-item">
      <div class="store-item-content">
        <div class="store-item-info">
          <h3>About Faces™ - Paperback (autographed)</h3>
          <p class="price">$26.00</p>
        </div>
        <div class="store-item-action">
          <a href="https://www.lauriejjames.com/store/p/about-faces?variant=paperback" class="btn-store">Purchase</a>
        </div>
      </div>
    </div>
    
    <div class="store-item">
      <div class="store-item-content">
        <div class="store-item-info">
          <h3>About Faces™ – Hard Copy and Paperback Bundle (autographed)</h3>
          <p class="price">$49.00</p>
        </div>
        <div class="store-item-action">
          <a href="https://www.lauriejjames.com/store/p/about-faces?variant=bundle" class="btn-store">Purchase</a>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}