{{ $image := resources.Get "images/aboutFaces.jpg" }}

<div class="home-page-body">
    <div class="body-image-container">
    <img class="body-image" src="{{ $image.RelPermalink }}">
    </div>
    <div>
    <div>
    <p>This book dances through the patchwork of my journey,
    stitching together a colorful tapestry of experiences. From
    the heart-pounding energy of professional and college
    athletes to the sage wisdom of a speech and debate guru to
    the soul-stirring and vulnerable lyrics of Kris Kristofferson to
    the unexpected political rise of Ronald Reagan, my life has
    been a whirlwind of influences.</p>
    <p>
    As an entrepreneur, I’ve taken many chances, each with its
    tale of conquest and calamity. I found my anchor through
    God’s unwavering love and patience in the stormy seas of
    prejudice. I offer glimmering pearls of wisdom within these
    pages, a North Star for those navigating uncertain waters.
    No matter where you are in your journey, think of this book
    as your trusty compass and steadfast companion on the
    grand adventure of life.</p>
</div>
</div>
</div> 