<div style="margin-top: 25px">
<h4>Where to purchase?</h4>
<ul>
<li>
Paperback and/or hard copies (autographed) are available through the office of Laurie
Jankower James in Lafayette, Louisiana. That contact information is at the bottom of this
page.
</li>
<li>
Autographed paperbacks are available through these merchants in Lafayette, Louisiana:
<ol style="margin-left:1em;" type="a">
<li>The Center for Louisiana Studies (Roy House)</li>
<li>Brenda’s Day Spa</li>
<li>Heart and Hand Massage &amp; Embodiment</li>
<li>Candace Carroll, LMT</li>
<li>Artisan Gift Shop</li>
</ol>
<li>
Paperback, Hardback, or eBook formats are available on Amazon by searching “Laurie
Jankower James About Faces”
</li>
</ul>
</div>
